variables:
  qwt_version: 6.1.5
  qt_build: 5.12.8-01

jobs:
  - job: Centos7
    pool:
      vmImage: "ubuntu-latest"
    # We use a container to run the build as we must be compatible with centos7's older glibc
    container: rockdreamer/centos7-gcc9:latest
    variables:
      artifactory.platformName: "centos7"
      artifactory.library_repo: ccdc-3rd-party-centos-7-builds
      qt_archive_suffix: linux.tar.zst
      downloads_folder: /opt/ccdc/third-party-sources/downloads/
    steps:
      - task: CmdLine@2
        inputs:
          script: "sudo yum install -y epel-release"
        displayName: "install epel"
      - task: CmdLine@2
        inputs:
          script: "sudo yum install -y zstd unzip mesa-libGL-devel"
        displayName: "install zstd, unzip, libGL"
      - template: fetch-sources.yml
      # No need to setup specific python, the container's python3 will be used
      # Build using whatever the parent task provides us
      - task: PythonScript@0
        inputs:
          scriptSource: 'filePath'
          scriptPath: build_qwt.py
        displayName: 'install qwt'
      - template: common-tasks.yml

  - job: macOS
    pool:
      vmImage: "macOS-latest"
    variables:
      artifactory.platformName: "darwin"
      artifactory.library_repo: ccdc-3rdparty-macos-libraries
      qt_archive_suffix: mac.tar.zst
      downloads_folder: /opt/ccdc/third-party-sources/downloads/
    steps:
      - task: CmdLine@2
        inputs:
          script: "brew install gnu-tar"
        displayName: "install gnu-tar"
      - task: UsePythonVersion@0
        inputs:
          versionSpec: "3.8"
        displayName: "Use latest python 3.8"
      - template: fetch-sources.yml        
      # No need to setup specific python, the container's python3 will be used
      # Build using whatever the parent task provides us
      - task: PythonScript@0
        inputs:
          scriptSource: 'filePath'
          scriptPath: build_qwt.py
        displayName: 'install qwt'
      - template: common-tasks.yml

  - job: WindowsVS2017
    pool:
      vmImage: "vs2017-win2016"
    variables:
      build_vs_version: "2017"
      artifactory.platformName: "windows"
      artifactory.library_repo: ccdc-3rdparty-windows-libraries
      qt_archive_suffix: msvc2017_64.7z
      downloads_folder: /opt/ccdc/third-party-sources/downloads/
    steps:
      - template: fetch-sources.yml        
        
      - task: CmdLine@2
        inputs:
          script: "tree $(System.ArtifactsDirectory) /f"
        displayName: "Contents of ArtifactsDirectory"

      - task: UsePythonVersion@0
        inputs:
          versionSpec: "3.8"
        displayName: "Use latest python 3.8"

      # Build using whatever the parent task provides us
      - script: |
          cd $(Build.SourcesDirectory)
          call "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Enterprise\\VC\\Auxiliary\\Build\\vcvars64.bat"
          python build_qwt.py
        displayName: 'install qwt'

      - template: common-tasks.yml
